/node_modules
/public/hot
/public/body.txt
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/.well-known/
nohup.out
/.env-origin
selenium-server-standalone-4.0.0.jar
composer.lock
public/示範用資料.txt
public/同事資料.txt
public/chat_log.json
/public/vendor/
public/madeline-12bb67bc0618338b71ff507bd50a6b948d48e98e-74.phar
public/chat_log.txt
public/groupinfo.txt
public/MadelineProto.log
public/madeline-12bb67bc0618338b71ff507bd50a6b948d48e98e-74.phar.lock
public/madeline-74.phar.version
public/session.madeline
public/session.madeline.callback.ipc
public/session.madeline.ipc
public/session.madeline.safe.php.lock
public/session.madeline.safe.php
public/session.madeline.lock
public/test.py
public/test.mp3
public/session.madeline.ipcState.php
public/session.madeline.ipcState.php.lock
public/session.madeline.lightState.php
public/session.madeline.lightState.php.lock
public/composer.json
