/node_modules
/public/hot
/public/body.txt
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/.well-known/
nohup.out
/.env-origin
selenium-server-standalone-4.0.0.jar
composer.lock
